{% extends 'base.html' %}
{% load static %}

{% block content %}

<!------------------------------------------- content ------------------------------------------->

<div id="projects-grid">
    <div id="" class="project-thumb">
        <a href="coins.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>COINS<br>FESTIVAL</h1>
                <p>UI/UX - Web Design</p>
            </div>
            <img src="{% static 'img/projects/coins_ui/coins_all_projects.png' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="bay-villas.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>BAY<br>VILLAS</h1>
                <p>Branding & Identity Development</p>
            </div>
            <img src="{% static 'img/projects/bay_villas_branding/bay_villas_all_projects.jpg' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="eicher-senok.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>SENOK - EICHER</h1>
                <p>UI/UX - Web Design</p>
            </div>
            <img src="{% static 'img/projects/senok_webdesign/senok_website_all_projects.png' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="tdk-architects.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>}
                <h1>TDK ARCHITECTS</h1>
                <p>UI/UX - Web Design</p>
            </div>
            <img src="{% static 'img/projects/tdk_ui/tdk_website_all_projects.png' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="hoppa-galle-fort.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>HOPPA<br>GALLE FORT</h1>
                <p>Branding & Identity Development</p>
            </div>
            <img src="{% static 'img/projects/hoppa_branding/hoppa_branding_all_projects.png' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="createrix.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>CREATERIX</h1>
                <p>Branding & Identity Development</p>
            </div>
            <img src="{% static 'img/projects/createrix_branding/createrix_all_projects.jpg' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="seal-group.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>SEAL GROUP</h1>
                <p>Branding & Identity Development</p>
            </div>
            <img src="{% static 'img/projects/seal_group_branding/seal_group_branding_all_projects.jpg' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="shore-hoppa.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>SHORE BY<br>HOPPA</h1>
                <p>Branding & Identity Development</p>
            </div>
            <img src="{% static 'img/projects/shore_by_hoppa_branding/shore_by_hoppa_all_projects.jpg' %}">
        </a>
    </div>
    <div id="" class="project-thumb">
        <a href="coconut-magic.html">
            <div class="project-desc">
                <img src="{% static 'img/svg/arrow_left_01_black.svg' %}">
                <hr>
                <h1>COCONUT MAGIC</h1>
                <p>Packaging Design</p>
            </div>
            <img src="{% static 'img/projects/cbl_packaging/cbl_packaging_all_projects.png' %}">
        </a>
    </div>
</div>

{% endblock %}