{% extends 'base.html' %}{% block content %}

{% load static %}


<!------------------------------------------- Projects Section Starts ------------------------------------------->
    
<div class="section" id="works">
        
    <div class="container-fluid">
        <div id="work-phrase" class="row">
            <div class="col-md-12">
                <h2>CASE STUDIES</h2>
            </div>
        </div>
        
        <div class="row">
                        
            <!----Carousel---->
            <div id="works-slide" class="col-md-9">
                <div class="swiper-container work-swiper">
                     <div class="swiper-wrapper">

                <!----- slide 1 ----->
                    <div class="swiper-slide container">
                        <div class="row">

                            <!----- project 1 ----->
                            <div id="TDK" class="col-md-4 project">
                                <div class="project-content">
                                    <a href="tdk-architects.html"></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>TDK ARCHITECTS</h1>
                                            <hr>
                                            <h5>UI/UX - Web Design</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/tdk_ui/tdk_website_featured_pc.jpg">
                                            <source srcset="img/projects/tdk_ui/tdk_website_featured_mobile.jpg">
                                            <img src="img/projects/tdk_ui/tdk_website_featured_pc.jpg">
                                        </picture>
                                    </div>                                        
                                </div>
                            </div>

                            <!----- project 2 ----->
                            <div id="hoppa" class="col-md-4 project">
                                <div class="project-content">
                                    <a href="hoppa-galle-fort.html"></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>HOPPA<br>GALLE FORT</h1>
                                            <hr>
                                            <h5>Brand Identity</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/hoppa_branding/hoppa_branding_featured_pc.jpg">
                                            <source srcset="img/projects/hoppa_branding/hoppa_branding_featured_mobile.jpg">
                                            <img src="img/projects/sample_project/Thumb_all_sample2-project.jpg">
                                        </picture>
                                    </div>
                                </div>
                            </div>

                            <!----- project 3 ----->
                            <div id="eicher" class="col-md-4 project">  
                                <div class="project-content">
                                    <a href="eicher-senok.html"><div class="link-block"></div></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>SNOK-EICHER</h1>
                                            <hr>
                                            <h5>UI/UX - Web Design</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/senok_webdesign/senok_website_featured_pc.jpg">
                                            <source srcset="img/projects/senok_webdesign/senok_website_featured_mobile.jpg">
                                            <img src="img/projects/sample_project/Thumb_all_sample2-project.jpg">
                                        </picture>
                                    </div>
                                </div>
                            </div><!----- /project 3 ----->
                        </div> 
                    </div><!-- /slide 1 -->

                <!----- slide 2 ----->
                    <div class="swiper-slide container">
                        <div class="row">

                            <!----- project 1 ----->
                            <div id="coconut-magic" class="col-md-4 project">
                                <div class="project-content">
                                    <a href="coconut-magic.html"></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>COCONUT MAGIC</h1>
                                            <hr>
                                            <h5>Packaging Design</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/cbl_packaging/cbl_packaging_featured_pc.jpg">
                                            <source srcset="img/projects/cbl_packaging/cbl_packaging_featured_mobile.jpg">
                                            <img src="img/projects/sample_project/Thumb_all_sample2-project.jpg">
                                        </picture>
                                    </div>                                        
                                </div>
                            </div>
                            <!----- project 2 ----->
                             <div id="bay_villas" class="col-md-4 project">
                                <div class="project-content">
                                    <a href="bay-villas.html"></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>BAY VILLAS</h1>
                                            <hr>
                                            <h5>Brand Identity</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/bay_villas_branding/bay_villas_featured_pc.jpg">
                                            <source srcset="img/projects/bay_villas_branding/bay_villas_featured_mobile.jpg">
                                            <img src="img/projects/sample_project/Thumb_all_sample2-project.jpg">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <!----- project 3 ----->
                            <div id="coins" class="col-md-4 project">  
                                <div class="project-content">
                                    <a href="coins.html"><div class="link-block"></div></a>
                                    <div class="project-info">
                                        <div class="project-name">
                                            <h1>COINS FESTIVAL</h1>
                                            <hr>
                                            <h5>UI/UX - Web Design</h5>
                                        </div>
                                    </div>
                                    <div class="works-img">
                                        <picture>
                                            <source media="(min-width:768px)" srcset="img/projects/coins_ui/coins_featured_pc.jpg">
                                            <source srcset="img/projects/coins_ui/coins_featured_mobile.jpg">
                                            <img src="img/projects/sample_project/Thumb_all_sample2-project.jpg">
                                        </picture>
                                    </div>
                                </div>
                            </div><!----- /project 3 ----->
                        </div> 
                    </div><!----- /slide 2 ----->
                    </div>
                </div>
            </div><!----/carousel---->
            <!----See All---->
            <div id="see-all" class="col-md-3 project">
                <a href="projects.html">
                    <div class="link-text" >
                        <img class="plusImg" src="img/svg/plus-mark_black.svg">
                        <p>SEE<br>ALL<br>PROJECTS</p>
                    </div>
                    <svg id="see-all-svg" viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                </a>
            </div>
        </div>
    </div><!----/container---->
        

    <!-- Projects-Section-Tip Starts -->
    <div class="section-tip">
        <h4 class="yellow">04</h4>
        <h4>&nbsp;&nbsp;|</h4>
        <h4>&nbsp;&nbsp;PROJECTS</h4>
    </div>
    <!-- Projects-Section-Tip Ends -->
    
</div>
<!-- Works Section Ends -->

<!------------------------------------------- Clients Section Starts ------------------------------------------->

<div class="section" id="clients">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 phrase">
                <div class="dash lg-only"></div>
                <h1>BRANDS WE WORKED WITH</h1>
                <div class="dash lg-only"></div>
            </div>
            <div class="col-md-6 d-flex client-list">
                <img src="img/svg/plus-mark.svg" class="plusImg top-l">
                <img src="img/svg/plus-mark.svg" class="plusImg top-r">
                <div class="swiper-container client-swiper">
                    <div class="swiper-wrapper">
                        <div class="client-pack swiper-slide">
                            <img src="img/logo/clients/createrix_logo.png">
                            <img src="img/logo/clients/bay_villa_logo.png">
                            <img src="img/logo/clients/mooniak_logo.png">
                        </div>
                        <div class="client-pack swiper-slide">
                            <img src="img/logo/clients/seal_group_logo.png">
                            <img src="img/logo/clients/kiss_logo.png">
                            <img src="img/logo/clients/hoppa_logo.png">
                        </div>
                        <div class="client-pack swiper-slide">
                            <img src="img/logo/clients/shore_by_hoppa_logo.png">
                            <img src="img/logo/clients/sense_logo.png">
                            <img src="img/logo/clients/tdk_logo.png">
                        </div>
                        <div class="client-pack swiper-slide">
                            <img src="img/logo/clients/cbl_logo.png">
                            <img src="img/logo/clients/ij_interiors_logo.png">
                            <img src="img/logo/clients/senok_logo.png">
                        </div>
                    </div>
                </div>
                <img src="img/svg/plus-mark.svg" class="plusImg bottom">
            </div>
        </div>
    </div>
    
    <!-- Clients-Section-Tip Starts -->
    <div class="section-tip">
        <h4 class="yellow">05</h4>
        <h4>&nbsp;&nbsp;|</h4>
        <h4>&nbsp;&nbsp;CLIENTS</h4>
    </div>
    <!-- Clients-Section-Tip Ends -->

</div>
<!-- Clients Section Ends -->

{% endblock %}