body {
    background-color: #111;
}

#service-body {
    padding: 0 5%;
}

#service-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

#service-head p {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 0;
    line-height: 1.1;
    width: 80%;
    
}

/*---------------------- service body ------------------------*/

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: 50%;
    padding: 11% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#service-content h1 {
    margin-bottom: 15px;
}
    
#service-content h3 {
    padding-top: 8%;
}

.service img {
    width: 18vw;
}

.service h4 {
    font-size: 3vh;
    padding-top: 10%;
}

hr {
    width: 100%;
    border: 1px solid white;
    margin: 0;
}

@media(min-width:768px) {
    
    .Vheight {
        padding-top: 10vh;
    }
    
    #service-head {
        padding-top: 10vh
    }
    
    #service-head p {
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    #service-content {
        text-align: center;
        padding: 0;
        padding-top: 5%;
    }
    
    #service-content h1 {
        font-size: 10vh;
    }
    
    #service-content h4 {
        font-size: 22px;
        font-weight: 600;
    }
    
    .service {
        width: 25%;
    }
    
    .service img {
        width: 50%;
    }

}