{% load static %}

<!------------------------------------------- Menu starts ------------------------------------------->
    
<div id="menu" class="section">
        <div id="menu-links">
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="index.html" onclick="menuOp()">HOME</a>
                <h4>01</h4>
            </div>
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="about_us.html" onclick="menuOp()">ABOUT US</a>
                <h4>02</h4>
            </div>
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="services.html" onclick="menuOp()">SERVICES</a>
                <h4>03</h4>
            </div>
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="all_projects.html" onclick="menuOp()">PORTFOLIO</a>
                <h4>04</h4>
            </div>
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="#team" onclick="menuOp()">TEAM</a>
                <h4>05</h4>
            </div>
            <div class="menu-item">
                <h3 class="plus-sign">+</h3>
                <a href="#contact" onclick="menuOp()">CONTACT US</a>
                <h4>06</h4>
            </div>
        </div>
        <svg id="menu-svg" class="" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="50"></circle>
        </svg>
    </div>

    <!------------------------------------------- Social-Media-Side-Bar Starts ------------------------------------------->
        <div id="social-bar-side" class="social-media side">
            <div id="facebook" class="social-media-item">
                <a class="link" href="https://www.facebook.com/cyberoctane/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div id="twitter" class="social-media-item">
                <a class="link" href="https://twitter.com/cyberoctaneHQ" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div id="linkedin" class="social-media-item">
                <a class="link" href="https://www.linkedin.com/company/cyberoctane/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <div id="behance" class="social-media-item">
                <a class="link" href="#" target="_blank">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
            <div id="instagram" class="social-media-item">
                <a class="link" href="https://www.instagram.com/cyberoctane/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    <!-- Social-Media-Side-Bar Ends -->
    
    <!------------------------------------------- Home section starts ------------------------------------------->
        
    <div class="section" id="home">
        
        <div id="home-wrap">

            <!-- Hello Text Row Starts -->
            <div class="phrase" id="hello">
                <h2 id="we-are">WE<br>ARE</h2>
                <div id="dash-1" class="dash"></div>
                <h2 class="slashes">///</h2>
                <h2 class="tilde">~<br>~<br>~</h2> 
                <div id="agency">
                    <h2 class="c-aligned">A</h2>
                    <div class="h1-wrap">
                        <h1 class="yellow">DIGITAL</h1>
                    </div>
                    <div id="dash-2" class="dash"></div>
                    <div class="h1-wrap r-aligned">
                        <h1 class="yellow r-aligned">DESIGN</h1>
                    </div>
                    <h2>AGENCY</h2>
                </div> 
                <div id="co">
                    <div class="h1-wrap">
                        <h1 class="yellow">CYBER</h1>
                    </div>
                    <div class="h1-wrap r-aligned">
                        <h1 class="yellow r-aligned">OCTANE</h1>
                    </div>
                    <h2 class="tilde">~<br>~<br>~</h2> 
                </div>
            </div> <!-- / Hello Text Row --> 

            <!-- Home-Section-Nav Row Starts -->
            <div id="home-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a id="about-us-nav" class="nav-link" href="test-03.html"><span class="plus-sign"> + </span>ABOUT US </a>
                        <hr id="about-us-hr" class="nav-hr-line">
                    </li>
                    <li class="nav-item">
                        <a id="services-nav" class="nav-link" href="#"><span class="plus-sign"> + </span>SERVICES </a>
                        <hr id="services-hr" class="nav-hr-line">
                    </li>
                    <li class="nav-item">
                        <a id="portfolio-nav" class="nav-link" href="#"><span class="plus-sign"> + </span>PORTFOLIO </a>
                        <hr id="portfolio-hr" class="nav-hr-line">    
                    </li>
                    <li class="nav-item">
                        <a id="contact-nav" class="nav-link" href="#contact"><span class="plus-sign"> + </span>CONTACT </a>
                        <hr id="contact-hr" class="nav-hr-line">
                    </li>
                </ul>
                <div id="scroll-down-arrow" class="col-md-12 text-center">
                    <h3 class="animated"><i class="fa fa-angle-down yellow" aria-hidden="true"></i></h3>
                </div>
            </div><!-- / Home-Section-Nav Row-->
        </div><!-- / Home-wrap-->
        

        <!-- Home-Section-Tip Starts -->
        <!--div class="section-tip">
            <h4 class="yellow">HOME</h4>
            <hr>
            <h4 class="light-ash pge-no">01</h4>
        </div-->
        <!-- Home-Section-Tip Ends -->
        
    </div>
           
    <!-- Home section ends -->

    <!-------------------------------------------- About-Us section starts ------------------------------------------->
    
    <div class="section" id="about-us">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-md-6" id="us-phrase">
                        <div class="dash lg-only"></div>
                        <div class="phrase">
                            <h1>WELCOME</h1>
                            <h1 class="">TO&nbsp;THE</h1>
                            <h1 class="">CYBER&nbsp;ERA!</h1>
                        </div>
                        <div class="dash lg-only"></div> 
                    </div>
                    <div class="col-md-6" id="us-text">
                        <div class="dash lg-only"></div> 
                        <p class="text">
                            We are a Sri Lankan digital design agency that implements and enhance brand presence via digital solutions from branding to web & mobile apps including VR solutions. We partner with brands and organizations to help them make their mark in the digital era by crafting unique and extensive digital solutions.
                        </p>
                        <a href="about_us.html" target="_blank" class="link-btn">
                            <p>Know&nbsp;More</p>
                            <div class="btn-hov"></div>
                            <img src="{% static 'img/svg/arrow_left_01.svg' %}">
                        </a>
                        <div class="dash lg-only"></div> 
                    </div>
                </div>
            </div>
            
            <!-- About-Us-Section-Tip Starts -->
            <div class="section-tip">
                <h4 class="yellow">ABOUT&nbsp;US</h4>
                <hr>
                <h4 class="light-ash pge-no" style="">02</h4>
            </div>
            <!-- About-Us-Section-Tip Ends -->
        </div>
        
            
        
        
        <!-- About-Us section ends -->
        
        <!-------------------------------- Services section starts ------------------------------------------->
        
        <div class="section" id="services">
            <div class="section-wrap">
                <div class="phrase">
                    <div class="dash lg-only"></div>
                    <h1>BE BOLD IN DIGITAL</h1>
                    <p>sdkjfh</p>
                    <a href="services.html" target="_blank" class="link-btn">
                        <p>See&nbsp;All&nbsp;Services</p>
                        <div class="btn-hov"></div>
                        <img src="img/svg/arrow_left_01.svg">
                    </a>
                    <div class="dash lg-only"></div> 
                </div>
                <div id="services-wrap">
                    <div class="dash lg-only"></div>
                    <h4>OUR SERVICES</h4>
                    <div id="service-nav">
                        <h2 id="BrandExp" class="nav-text">DIGITAL<br><span class="exp-nav">EXPERIENCE</span></h2>
                        <div id="service-separator"></div>
                        <h2 id="DigitalExp" class="nav-text yellow">BRAND<br><span class="exp-nav">EXPERIENCE</span></h2>
                    </div>
                    <!-- slider -->
                    <div id="services-slide" class="swiper-container service-swipe">
                        <div class="swiper-wrapper">
                            <div id="digital" class="swiper-slide experience">
                                <div class="services-list">
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/002-digital-marketing-6.svg' %}">
                                        <h4>WEB&nbsp;DESIGN</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/028-mobile.svg' %}">
                                        <h4>MOBILE&nbsp;APPS</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/009-view.svg' %}">
                                        <h4>UI/UX&nbsp;DESIGN</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/040-augmented-reality.svg' %}">
                                        <h4>VR/AR DEVELOPMENT</h4>
                                    </div>
                                </div>
                            </div>
                            <div id="branding" class="swiper-slide experience">
                                <div class="services-list">
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/040-visibility.svg' %}">
                                        <h4>LOGO&nbsp;DESIGN</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/031-target.svg' %}">
                                        <h4>BRANDING</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/041-video-player.svg' %}">
                                        <h4>VIDEO & PHOTOGRAPHY</h4>
                                    </div>
                                    <div class="service">
                                        <h4>+</h4>
                                        <img src="{% static 'img/svg/043-cube.svg' %}">
                                        <h4>PACKAGE&nbsp;DESIGN</h4>
                                    </div>
                                </div>
                            </div><!-- /slide-2 -->
                        </div>
                    </div><!-- /slider -->
                    <div class="dash lg-only"></div>
                </div><!-- /slider-wrap -->
            </div>
            
            
            <!-- Services-Section-Tip Starts -->
            <div class="section-tip">
                <h4 class="yellow">SERVICES</h4>
                <hr>
                <h4 class="light-ash pge-no">03</h4>
            </div>
            <!-- Servicess-Section-Tip Ends -->
            
        </div>
        
        <!-- Services section ends -->
        
        
        
        