{% load static %}

<!------------------------------------------- Contact section starts ------------------------------------------->
        
<div class="section" id="contact">
            
        <div class="section-wrap">
            <div class="phrase">
                <div class="dash"></div>
                <h1 class="">GET IN<br> TOUCH WITH <br> US</h1>
                <div class="dash"></div>
            </div>

            <div class="contact-info">
                <div id="locate">
                    <h3>LOCATE</h3>
                    <p>No. 38/B,<br>Neelammahara Road,<br>Mattegoda,<br>Sri Lanka.</p>
                </div>
                <div id="contact">
                    <h3>CONTACT</h3>
                    <p>hello@cyberoctane.com <br>+94 71 656 7991</p>
                </div>
                <div id="social">
                    <h3>SOCIAL</h3>
                        <div id="social-bar-contact" class="social-media contact zero-width">
                            <div id="facebook" class="social-media-item">
                                <a class="link" href="https://www.facebook.com/cyberoctane/" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </div>
                            <div id="twitter" class="social-media-item">
                                <a class="link" href="https://twitter.com/cyberoctaneHQ" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div id="linkedin" class="social-media-item">
                                <a class="link" href="https://www.linkedin.com/company/cyberoctane/" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div id="behance" class="social-media-item">
                                <a class="link" href="#" target="_blank">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </div>
                            <div id="instagram" class="social-media-item">
                                <a class="link" href="https://www.instagram.com/cyberoctane/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Contact-Section-Tip Starts -->
            <div class="section-tip">
                <h4 class="yellow">CONTACT</h4>
                <hr>
                <h4 class="light-ash pge-no">07</h4>
            </div>
        <!-- Contact-Section-Tip Ends -->
        
    </div>
    
    <!-- Contact section ends -->

<!------------------------------------------- footer starts ------------------------------------------->
    
<div id="home-footer" class="footer">
                <p>Ⓒ CYBER OCTANE. All rights reserved<br>Developed with love in SL</p>
            </div>
            
        <!-- footer ends -->