{% extends 'base.html'%} {% block content %}

{% load static %}

 <!------------------------------------------- Works section starts ------------------------------------------->
        
 <div class="section" id="works">
            
        <div class="container-fluid">
            <div id="work-phrase" class="row">
                <div class="col-md-12">
                    <h2>CASE STUDIES</h2>
                </div>
            </div>
            
            <div class="row">
                            
                <!----Carousel---->
                <div id="works-slide" class="col-md-9">
                    <div class="swiper-container work-swiper">
                         <div class="swiper-wrapper">

                    <!----- slide 1 ----->
                        <div class="swiper-slide container">
                            <div class="row">

                                <!----- project 1 ----->
                                <div id="x-app" class="col-md-4 project">
                                    <div class="project-content">
                                        <a href="project_template.html"></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>X&nbsp;-&nbsp;APP</h1>
                                                <h5>Mobile App Design</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source class="ddd" media="(min-width:768px)" srcset="{% static 'img/projects/sample_project/Thumb_home_sample-project.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample_project/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>                                        
                                    </div>
                                </div>
                                <!----- project 2 ----->
                                <div id="bay_villas" class="col-md-4 project">
                                    <div class="project-content">
                                        <a href="Bay_Villa.html"></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>BAY VILLAS</h1>
                                                <h5>Brand Identity</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source media="(min-width:768px)" srcset="{% static 'img/projects/bay_villa/bay_villas_featured_pc.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <!----- project 3 ----->
                                <div id="eicher" class="col-md-4 project">  
                                    <div class="project-content">
                                        <a href="Eicher.html"><div class="link-block"></div></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>SNOK-EICHER</h1>
                                                <h5>Virtual Reality</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source class="ddd" media="(min-width:768px)" srcset="{% static 'img/projects/senok_website/senok_website_featured_pc.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample_project/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>
                                    </div>
                                </div><!----- /project 3 ----->
                            </div> 
                        </div><!-- /slide 1 -->

                    <!----- slide 2 ----->
                        <div class="swiper-slide container">
                            <div class="row">

                                <!----- project 1 ----->
                                <div id="x-app" class="col-md-4 project">
                                    <div class="project-content">
                                        <a href="project_template.html"></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>X&nbsp;-&nbsp;APP</h1>
                                                <h5>Mobile App Design</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source class="ddd" media="(min-width:768px)" srcset="{% static 'img/projects/sample_project/Thumb_home_sample-project.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample_project/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>                                        
                                    </div>
                                </div>
                                <!----- project 2 ----->
                                <div id="fever" class="col-md-4 project">
                                    <div class="project-content">
                                        <a href="project_template.html"></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>FEVER</h1>
                                                <h5>Web Design</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source class="ddd" media="(min-width:768px)" srcset="{% static 'img/projects/sample_project/Thumb_home_sample-project.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample_project/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <!----- project 3 ----->
                                <div id="nexun" class="col-md-4 project">  
                                    <div class="project-content">
                                        <a href="project_template.html"><div class="link-block"></div></a>
                                        <div class="project-info">
                                            <div class="project-name">
                                                <h1>NEXUN&nbsp;77</h1>
                                                <h5>Virtual Reality</h5>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the
                                                industry's standard dummy text ever.
                                            </p>
                                            <button type="button">See The Project ></button>
                                        </div>
                                        <div class="works-img">
                                            <picture>
                                                <source class="ddd" media="(min-width:768px)" srcset="{% static 'img/projects/sample_project/Thumb_home_sample-project.jpg' %}">
                                                <source srcset="{% static 'img/projects/sample_project/Thumb_home_mobile_sample-project.jpg' %}">
                                                <img src="{% static 'img/projects/sample_project/Thumb_all_sample2-project.jpg' %}">
                                            </picture>
                                        </div>
                                    </div>
                                </div><!----- /project 3 ----->
                            </div> 
                        </div><!----- /slide 2 ----->
                        </div>
                    </div>
                </div><!----/carousel---->
                <!----See All---->
                <div id="see-all" class="col-md-3 project">
                    <a href="all_projects.html">
                        <p>See All Projects</p>
                        <svg id="see-all-svg" viewbox="0 0 100 100">
                            <circle cx="50" cy="50" r="50"></circle>
                        </svg>
                    </a>
                </div>
            </div>
        </div><!----/container---->
            
            
            
            
        
        <!-- Clients-Section-Tip Starts -->
        <div class="section-tip">
            <h4 class="yellow">OUR&nbsp;WORK</h4>
            <hr>
            <h4 class="light-ash pge-no">04</h4>
        </div>
        <!-- Clients-Section-Tip Ends -->
        
    </div>
    
    <!-- Works section ends -->
    
    <!------------------------------------------- Clients section starts ------------------------------------------->
    
    <div class="section" id="clients">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 phrase">
                    <h1>BRANDS WE WORKED WITH</h1>
                </div>
                <div class="col-md-6 d-flex client-list plussed">
                    <h4>+</h4>
                    <div class="swiper-container client-swiper">
                        <div class="swiper-wrapper">
                            <div class="client-pack swiper-slide">
                                <img src="{% static 'img/logo/clients/createrix_logo.png' %}">
                                <img src="{% static 'img/logo/clients/tdk_logo.png' %}">
                                <img src="{% static 'img/logo/clients/mooniak_logo.png' %}">
                            </div>
                            <div class="client-pack swiper-slide">
                                <img src="{% static 'img/logo/clients/cbl_logo.png' %}">
                                <img src="{% static 'img/logo/clients/hoppa_logo.png' %}">
                                <img src="{% static 'img/logo/clients/kiss_logo.png' %}">
                            </div>
                            <div class="client-pack swiper-slide">
                                <img src="{% static 'img/logo/clients/ij_interiors_logo.png' %}">
                                <img src="{% static 'img/logo/clients/senok_logo.png' %}">
                                <img src="{% static 'img/logo/clients/janet_logo.png' %}">
                            </div>
                            <div class="client-pack swiper-slide">
                                <img src="{% static 'img/logo/clients/cbl_logo.png' %}">
                                <img src="{% static 'img/logo/clients/hoppa_logo.png' %}">
                                <img src="{% static 'img/logo/clients/kiss_logo.png' %}">
                            </div>
                            <div class="client-pack swiper-slide">
                                <img src="{% static 'img/logo/clients/ij_interiors_logo.png' %}">
                                <img src="{% static 'img/logo/clients/senok_logo.png' %}">
                                <img src="{% static 'img/logo/clients/janet_logo.png' %}">
                            </div>
                        </div>
                    </div>
                    <h4>+</h4>
                </div>
            </div>
        </div>
        
        <!-- Clients-Section-Tip Starts -->
        <div class="section-tip">
            <h4 class="yellow">CLIENTS</h4>
            <hr>
            <h4 class="light-ash pge-no">05</h4>
        </div>
        <!-- Clients-Section-Tip Ends -->

    </div>
    
    <!-- Clients section ends -->
    
    <!------------------------------------------- Team section starts ------------------------------------------->
    
    <div class="section" id="team">
        <div class="section-wrap">
            <div class="phrase">
                <h1>FUELLED BY PASSION</h1>
            </div>
            <div id="team-carousel" class="swiper-container team-swiper">
                <div class="swiper-wrapper">
                    <div id="mmbr-01" class="member swiper-slide">
                        <div class="member-photo"></div>
                        <div class="member-details">
                            <h5>LASANTHA<br>PREMARATHNA</h5>
                            <p>Lead Developer<br>VR Engineer<br>Co-Founder / CEO</p>
                        </div>
                    </div>
                    <div id="mmbr-02" class="member swiper-slide">
                        <div class="member-photo"></div>
                        <div class="member-details">
                            <h5>RAJITHA<br>MANAMPERI</h5>
                            <p> Lead Designer<br>Developer<br>Co-Founder</p>
                        </div>
                    </div>
                    <div id="mmbr-03" class="member swiper-slide">
                        <div class="member-photo"></div>
                        <div class="member-details">
                            <h5>NUWAN<br>WIKRAMAARACHCHI</h5>
                            <p>Lead Developer<br>VR Engineer<br>Co-Founder</p>
                        </div>
                    </div>
                    <div id="mmbr-04" class="member swiper-slide">
                        <div class="member-photo"></div>
                        <div class="member-details">
                            <h5>MUTHUMALI<br>PONNAMPERUMA</h5>
                            <p>Co-Founder / CEO<br>Lead Developer<br>VR Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-nav swiper-button-prev"></div>
                <div class="swiper-nav swiper-button-next"></div>
            </div>
            <!-- /swiper-container-->
        </div>
        
        <!-- Team-Section-Tip Starts -->
            <div class="section-tip">
                <h4 class="yellow">TEAM</h4>
                <hr>
                <h4 class="light-ash pge-no">06</h4>
            </div>
        <!-- Team-Section-Tip Ends -->
        
    </div> 
    
    <!-- Team section ends -->

{% endblock %} 